body {
  margin: 5%;
  font-family: sans-serif;
  line-height: 1.5em;
  background-color: #fff;
}

#title {
  font-size: 4.5em;
  line-height: 1em;
}

#contact-info {
  width: 33%;
  margin-bottom: 5%;
}

h1, h2 {
  border-radius: 0.2em;
  border-bottom: solid #538955 .1em;
  padding-bottom: 0.4em;
  margin-bottom: 0;
  width: 50%;
}

#description {
  width: 33%;
}

img {
  width: 30%;
  border: solid #555 1px;
  border-radius: 0.5em;
  float: right;
}

a {
  text-decoration: none;
  border-bottom: solid 1px;
  padding-bottom: .01em;
  font-weight: bold;
}

section ul {
  list-style-type: none;
  font-style: italic;
}

nav li {
}
